<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.bocai.db.dao.ResultMapper" >
  <resultMap id="BaseResultMap" type="com.water.bocai.db.model.Result" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="package_num" property="packageNum" jdbcType="INTEGER" />
    <result column="red1" property="red1" jdbcType="INTEGER" />
    <result column="red2" property="red2" jdbcType="INTEGER" />
    <result column="red3" property="red3" jdbcType="INTEGER" />
    <result column="red4" property="red4" jdbcType="INTEGER" />
    <result column="red5" property="red5" jdbcType="INTEGER" />
    <result column="red6" property="red6" jdbcType="INTEGER" />
    <result column="sum" property="sum" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="REAL" />
    <result column="money_out" property="moneyOut" jdbcType="REAL" />
    <result column="money_in" property="moneyIn" jdbcType="REAL" />
    <result column="agency_fee" property="agencyFee" jdbcType="REAL" />
    <result column="profit" property="profit" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, task_id, package_num, red1, red2, red3, red4, red5, red6, sum, total, money_out, 
    money_in, agency_fee, profit
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.water.bocai.db.model.ResultCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from result
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from result
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.water.bocai.db.model.ResultCriteria" >
    delete from result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.water.bocai.db.model.Result" >
    insert into result (id, task_id, package_num, 
      red1, red2, red3, red4, 
      red5, red6, sum, total, 
      money_out, money_in, agency_fee, 
      profit)
    values (#{id,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{packageNum,jdbcType=INTEGER}, 
      #{red1,jdbcType=INTEGER}, #{red2,jdbcType=INTEGER}, #{red3,jdbcType=INTEGER}, #{red4,jdbcType=INTEGER}, 
      #{red5,jdbcType=INTEGER}, #{red6,jdbcType=INTEGER}, #{sum,jdbcType=INTEGER}, #{total,jdbcType=REAL}, 
      #{moneyOut,jdbcType=REAL}, #{moneyIn,jdbcType=REAL}, #{agencyFee,jdbcType=REAL}, 
      #{profit,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.water.bocai.db.model.Result" >
    insert into result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="packageNum != null" >
        package_num,
      </if>
      <if test="red1 != null" >
        red1,
      </if>
      <if test="red2 != null" >
        red2,
      </if>
      <if test="red3 != null" >
        red3,
      </if>
      <if test="red4 != null" >
        red4,
      </if>
      <if test="red5 != null" >
        red5,
      </if>
      <if test="red6 != null" >
        red6,
      </if>
      <if test="sum != null" >
        sum,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="moneyOut != null" >
        money_out,
      </if>
      <if test="moneyIn != null" >
        money_in,
      </if>
      <if test="agencyFee != null" >
        agency_fee,
      </if>
      <if test="profit != null" >
        profit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="packageNum != null" >
        #{packageNum,jdbcType=INTEGER},
      </if>
      <if test="red1 != null" >
        #{red1,jdbcType=INTEGER},
      </if>
      <if test="red2 != null" >
        #{red2,jdbcType=INTEGER},
      </if>
      <if test="red3 != null" >
        #{red3,jdbcType=INTEGER},
      </if>
      <if test="red4 != null" >
        #{red4,jdbcType=INTEGER},
      </if>
      <if test="red5 != null" >
        #{red5,jdbcType=INTEGER},
      </if>
      <if test="red6 != null" >
        #{red6,jdbcType=INTEGER},
      </if>
      <if test="sum != null" >
        #{sum,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=REAL},
      </if>
      <if test="moneyOut != null" >
        #{moneyOut,jdbcType=REAL},
      </if>
      <if test="moneyIn != null" >
        #{moneyIn,jdbcType=REAL},
      </if>
      <if test="agencyFee != null" >
        #{agencyFee,jdbcType=REAL},
      </if>
      <if test="profit != null" >
        #{profit,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.water.bocai.db.model.ResultCriteria" resultType="java.lang.Integer" >
    select count(*) from result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update result
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.taskId != null" >
        task_id = #{record.taskId,jdbcType=VARCHAR},
      </if>
      <if test="record.packageNum != null" >
        package_num = #{record.packageNum,jdbcType=INTEGER},
      </if>
      <if test="record.red1 != null" >
        red1 = #{record.red1,jdbcType=INTEGER},
      </if>
      <if test="record.red2 != null" >
        red2 = #{record.red2,jdbcType=INTEGER},
      </if>
      <if test="record.red3 != null" >
        red3 = #{record.red3,jdbcType=INTEGER},
      </if>
      <if test="record.red4 != null" >
        red4 = #{record.red4,jdbcType=INTEGER},
      </if>
      <if test="record.red5 != null" >
        red5 = #{record.red5,jdbcType=INTEGER},
      </if>
      <if test="record.red6 != null" >
        red6 = #{record.red6,jdbcType=INTEGER},
      </if>
      <if test="record.sum != null" >
        sum = #{record.sum,jdbcType=INTEGER},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=REAL},
      </if>
      <if test="record.moneyOut != null" >
        money_out = #{record.moneyOut,jdbcType=REAL},
      </if>
      <if test="record.moneyIn != null" >
        money_in = #{record.moneyIn,jdbcType=REAL},
      </if>
      <if test="record.agencyFee != null" >
        agency_fee = #{record.agencyFee,jdbcType=REAL},
      </if>
      <if test="record.profit != null" >
        profit = #{record.profit,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update result
    set id = #{record.id,jdbcType=VARCHAR},
      task_id = #{record.taskId,jdbcType=VARCHAR},
      package_num = #{record.packageNum,jdbcType=INTEGER},
      red1 = #{record.red1,jdbcType=INTEGER},
      red2 = #{record.red2,jdbcType=INTEGER},
      red3 = #{record.red3,jdbcType=INTEGER},
      red4 = #{record.red4,jdbcType=INTEGER},
      red5 = #{record.red5,jdbcType=INTEGER},
      red6 = #{record.red6,jdbcType=INTEGER},
      sum = #{record.sum,jdbcType=INTEGER},
      total = #{record.total,jdbcType=REAL},
      money_out = #{record.moneyOut,jdbcType=REAL},
      money_in = #{record.moneyIn,jdbcType=REAL},
      agency_fee = #{record.agencyFee,jdbcType=REAL},
      profit = #{record.profit,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.water.bocai.db.model.Result" >
    update result
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="packageNum != null" >
        package_num = #{packageNum,jdbcType=INTEGER},
      </if>
      <if test="red1 != null" >
        red1 = #{red1,jdbcType=INTEGER},
      </if>
      <if test="red2 != null" >
        red2 = #{red2,jdbcType=INTEGER},
      </if>
      <if test="red3 != null" >
        red3 = #{red3,jdbcType=INTEGER},
      </if>
      <if test="red4 != null" >
        red4 = #{red4,jdbcType=INTEGER},
      </if>
      <if test="red5 != null" >
        red5 = #{red5,jdbcType=INTEGER},
      </if>
      <if test="red6 != null" >
        red6 = #{red6,jdbcType=INTEGER},
      </if>
      <if test="sum != null" >
        sum = #{sum,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=REAL},
      </if>
      <if test="moneyOut != null" >
        money_out = #{moneyOut,jdbcType=REAL},
      </if>
      <if test="moneyIn != null" >
        money_in = #{moneyIn,jdbcType=REAL},
      </if>
      <if test="agencyFee != null" >
        agency_fee = #{agencyFee,jdbcType=REAL},
      </if>
      <if test="profit != null" >
        profit = #{profit,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.water.bocai.db.model.Result" >
    update result
    set task_id = #{taskId,jdbcType=VARCHAR},
      package_num = #{packageNum,jdbcType=INTEGER},
      red1 = #{red1,jdbcType=INTEGER},
      red2 = #{red2,jdbcType=INTEGER},
      red3 = #{red3,jdbcType=INTEGER},
      red4 = #{red4,jdbcType=INTEGER},
      red5 = #{red5,jdbcType=INTEGER},
      red6 = #{red6,jdbcType=INTEGER},
      sum = #{sum,jdbcType=INTEGER},
      total = #{total,jdbcType=REAL},
      money_out = #{moneyOut,jdbcType=REAL},
      money_in = #{moneyIn,jdbcType=REAL},
      agency_fee = #{agencyFee,jdbcType=REAL},
      profit = #{profit,jdbcType=REAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.water.bocai.db.model.ResultCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insertBatch" >
    insert into result (id, task_id, package_num, red1, red2, red3, red4, red5, red6, sum, total, money_out, money_in, agency_fee, profit) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=VARCHAR}, #{item.taskId,jdbcType=VARCHAR}, #{item.packageNum,jdbcType=INTEGER}, 
        #{item.red1,jdbcType=INTEGER}, #{item.red2,jdbcType=INTEGER}, #{item.red3,jdbcType=INTEGER}, 
        #{item.red4,jdbcType=INTEGER}, #{item.red5,jdbcType=INTEGER}, #{item.red6,jdbcType=INTEGER}, 
        #{item.sum,jdbcType=INTEGER}, #{item.total,jdbcType=REAL}, #{item.moneyOut,jdbcType=REAL}, 
        #{item.moneyIn,jdbcType=REAL}, #{item.agencyFee,jdbcType=REAL}, #{item.profit,jdbcType=REAL}
        )
    </foreach>
  </insert>
</mapper>