body {
	margin: 0;
	padding: 0;
	background-color: #E4E8EC;
}

.wrap {
	margin: 150px auto;
	width: 380px;
	overflow: hidden;
}

.loginForm {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0
		3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0
		rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 0;
	background-color: #FFF;
	border-radius: 4px;
	height: 220px;
	width: 380px;
	background: -webkit-gradient(linear, left top, left 24, from(#EEE),
		color-stop(4%, #FFF), to(#EEE));
	background: -moz-linear-gradient(top, #EEE, #FFF 1px, #EEE 24px);
	background: -o-linear-gradient(top, #EEEEEE, #FFFFFF 1px, #EEEEEE 24px);
}

.loginForm:before {
	content: '';
	position: absolute;
	z-index: -1;
	border: 1px dashed #CCC;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	box-shadow: 0 0 0 1px #FFF;
}

.loginForm h1 {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0
		rgba(0, 0, 0, .5);
	text-transform: uppercase;
	text-align: center;
	color: #666;
	line-height: 3em;
	margin: 16px 0 20px 0;
	letter-spacing: 4px;
	font: normal 26px/1 Microsoft YaHei, sans-serif;
}

fieldset {
	border: none;
	padding: 10px 10px 0;
}

.userName_input {
	background: url(images/user.png) 4px 5px no-repeat;
	background-size: 6%, 6%;
}

fieldset input[type=password] {
	background: url(images/password.png) 4px 5px no-repeat;
	background-size: 6%, 6%;
}

fieldset input[type=text], fieldset input[type=password] {
	width: 100%;
	line-height: 2em;
	font-size: 12px;
	height: 24px;
	border: none;
	padding: 3px 4px 3px 2.2em;
	width: 300px;
}

fieldset input[type=button] {
	text-align: center;
	padding: 2px 20px;
	line-height: 2em;
	border: 1px solid #1a7bc9;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left 24, from(#1a7bc9),
		color-stop(0%, #6CAEF5), to(#1a7bc9));
	background: -moz-linear-gradient(top, #1a7bc9, #6CAEF5 0, #1a7bc9 24px);
	background: -o-linear-gradient(top, #1a7bc9, #6CAEF5 0, #1a7bc9 24px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6CAEF5',
		endColorstr='#1a7bc9');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#6CAEF5', endColorstr='#1a7bc9')";
	height: 30px;
	width: 335px;
	cursor: pointer;
	letter-spacing: 4px;
	margin-left: 10px;
	color: #FFF;
	font-weight: bold;
}

fieldset input[type=button]:hover {
	background: -webkit-gradient(linear, left top, left 24, from(#6CAEF5),
		color-stop(0%, #1a7bc9), to(#6CAEF5));
	background: -moz-linear-gradient(top, #6CAEF5, #1a7bc9 0, #6CAEF5 24px);
	background: -o-linear-gradient(top, #1a7bc9, #1a7bc9 0, #6CAEF5 24px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a7bc9',
		endColorstr='#6CAEF5');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a7bc9', endColorstr='#6CAEF5')";
}

.inputWrap {
	background: -webkit-gradient(linear, left top, left 24, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 24px);
	background: -o-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 24px);
	border-radius: 3px;
	border: 1px solid #CCC;
	margin: 10px 10px 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE',
		endColorstr='#FFFFFF');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF')";
}



fieldset input[type=checkbox] {
	margin-left: 10px;
	vertical-align: middle;
}

fieldset a {
	color: blue;
	font-size: 12px;
	margin: 6px 0 0 10px;
	text-decoration: none;
}

fieldset a:hover {
	text-decoration: underline;
}

fieldset span {
	font-size: 12px;
}


#fm {
	margin: 0;
	padding: 10px 20px;
}

.ftitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.fitem {
	margin-bottom: 5px;
}

.fitem label {
	display: inline-block;
	width: 80px;
}

.fitem input {
	width: 160px;
}

.sum_select{
	margin-bottom: 10px;
}
#trb{
	padding: 5px;
  	text-align: center;
}

